<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/gallery.css">
    <link rel="stylesheet" href="/static/css/rotate.css">
    <script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="/static/js/gallery.js"></script>
    <title>Project</title>
</head>
<body>
<div class="projects-container">
    <ul>
        <li>
            <div class="cd-title">
                <h2>NumberKnows</h2>
                <p>数据可视化与分析</p>
            </div> <!-- .cd-title -->

            <div class="cd-project-info">
                <div class="container" style="margin: 0 auto">
                    <div class="row">
                        <h1 style="text-align: center">NumberKnows</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h1>Step 1</h1>
                            <p style="font: 24px 'Montserrat', '微软雅黑'">导入自由格式的json数据</p>
                        </div>
                        <div class="col-md-8">
                            <img src="/static/img/numberknows-step1.jpg" style="width: auto;max-width: 100%">
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-4">
                            <h1>Step 2</h1>
                            <p style="font: 24px 'Montserrat', '微软雅黑'">选择要分析的对象、方法、条件等</p>
                        </div>
                        <div class="col-md-8">
                            <img src="/static/img/numberknows-step2.jpg" style="width: auto;max-width: 100%">
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-4">
                            <h1>Step 3</h1>
                            <p style="font: 24px 'Montserrat', '微软雅黑'">生成图表</p>
                        </div>
                        <div class="col-md-8">
                            <img src="/static/img/numberknows-step3.jpg" style="width: auto;max-width: 100%">
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <button class="btn btn-default">
                            <a href="http://numberknows.cescgao.top/#/demo" target="_blank">查看Demo</a>
                        </button>
                    </div>
                </div>
            </div> <!-- .cd-project-info -->
        </li>

        <li>
            <div class="cd-title">
                <h2>Purify</h2>
                <p>HTML网页净化</p>
            </div> <!-- .cd-title -->

            <div class="cd-project-info">
                <div class="container" style="margin: 0 auto">
                    <h1>提取正文，无广告</h1>
                    <p>获取重要信息，享受干净阅读</p>
                    <hr/>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="/static/img/purify-origin.jpg" style="width: 100%">
                        </div>
                        <div class="col-md-6">
                            <img src="/static/img/purify-pure.jpg" style="width: 100%;">
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <button class="btn btn-default">
                            <a href="purify" target="_blank">查看Demo</a>
                        </button>
                    </div>
                </div>
            </div> <!-- .cd-project-info -->
        </li>
        <li>
            <div class="cd-title">
                <h2>PaperEnhance</h2>
                <p>文件拍照增强</p>
            </div> <!-- .cd-title -->

            <div class="cd-project-info">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quod dicta aliquid nemo
                    repellendus distinctio minus dolor aperiam suscipit, ea enim accusantium, deleniti qui sequi sint
                    nihil modi amet eligendi, quidem animi error labore voluptatibus sed. Qui magnam labore, iusto
                    nostrum. Praesentium non, impedit accusantium consequatur officia architecto, mollitia placeat
                    aperiam tenetur pariatur voluptatibus corrupti vitae deserunt! Nostrum non mollitia deserunt ipsam.
                    Sunt quaerat natus cupiditate iure ipsa voluptatibus recusandae ratione vitae amet distinctio,
                    voluptas, minus vero expedita ea fugit similique sit cumque ad id facere? Ab quas, odio neque quis
                    ratione. Natus labore sit esse, porro placeat eum hic.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quod dicta aliquid nemo
                    repellendus distinctio minus dolor aperiam suscipit, ea enim accusantium, deleniti qui sequi sint
                    nihil modi amet eligendi, quidem animi error labore voluptatibus sed. Qui magnam labore, iusto
                    nostrum. Praesentium non, impedit accusantium consequatur officia architecto, mollitia placeat
                    aperiam tenetur pariatur voluptatibus corrupti vitae deserunt! Nostrum non mollitia deserunt ipsam.
                    Sunt quaerat natus cupiditate iure ipsa voluptatibus recusandae ratione vitae amet distinctio,
                    voluptas, minus vero expedita ea fugit similique sit cumque ad id facere? Ab quas, odio neque quis
                    ratione. Natus labore sit esse, porro placeat eum hic.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quod dicta aliquid nemo
                    repellendus distinctio minus dolor aperiam suscipit, ea enim accusantium, deleniti qui sequi sint
                    nihil modi amet eligendi, quidem animi error labore voluptatibus sed. Qui magnam labore, iusto
                    nostrum. Praesentium non, impedit accusantium consequatur officia architecto, mollitia placeat
                    aperiam tenetur pariatur voluptatibus corrupti vitae deserunt! Nostrum non mollitia deserunt ipsam.
                    Sunt quaerat natus cupiditate iure ipsa voluptatibus recusandae ratione vitae amet distinctio,
                    voluptas, minus vero expedita ea fugit similique sit cumque ad id facere? Ab quas, odio neque quis
                    ratione. Natus labore sit esse, porro placeat eum hic.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quod dicta aliquid nemo
                    repellendus distinctio minus dolor aperiam suscipit, ea enim accusantium, deleniti qui sequi sint
                    nihil modi amet eligendi, quidem animi error labore voluptatibus sed. Qui magnam labore, iusto
                    nostrum. Praesentium non, impedit accusantium consequatur officia architecto, mollitia placeat
                    aperiam tenetur pariatur voluptatibus corrupti vitae deserunt! Nostrum non mollitia deserunt ipsam.
                    Sunt quaerat natus cupiditate iure ipsa voluptatibus recusandae ratione vitae amet distinctio,
                    voluptas, minus vero expedita ea fugit similique sit cumque ad id facere? Ab quas, odio neque quis
                    ratione. Natus labore sit esse, porro placeat eum hic.
                </p>
            </div> <!-- .cd-project-info -->
        </li>

        <li>
            <div class="cd-title">
                <h2>Project 4</h2>
                <p>Brief description of the project here</p>
            </div> <!-- .cd-title -->

            <div class="cd-project-info">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quod dicta aliquid nemo
                    repellendus distinctio minus dolor aperiam suscipit, ea enim accusantium, deleniti qui sequi sint
                    nihil modi amet eligendi, quidem animi error labore voluptatibus sed. Qui magnam labore, iusto
                    nostrum. Praesentium non, impedit accusantium consequatur officia architecto, mollitia placeat
                    aperiam tenetur pariatur voluptatibus corrupti vitae deserunt! Nostrum non mollitia deserunt ipsam.
                    Sunt quaerat natus cupiditate iure ipsa voluptatibus recusandae ratione vitae amet distinctio,
                    voluptas, minus vero expedita ea fugit similique sit cumque ad id facere? Ab quas, odio neque quis
                    ratione. Natus labore sit esse, porro placeat eum hic.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quod dicta aliquid nemo
                    repellendus distinctio minus dolor aperiam suscipit, ea enim accusantium, deleniti qui sequi sint
                    nihil modi amet eligendi, quidem animi error labore voluptatibus sed. Qui magnam labore, iusto
                    nostrum. Praesentium non, impedit accusantium consequatur officia architecto, mollitia placeat
                    aperiam tenetur pariatur voluptatibus corrupti vitae deserunt! Nostrum non mollitia deserunt ipsam.
                    Sunt quaerat natus cupiditate iure ipsa voluptatibus recusandae ratione vitae amet distinctio,
                    voluptas, minus vero expedita ea fugit similique sit cumque ad id facere? Ab quas, odio neque quis
                    ratione. Natus labore sit esse, porro placeat eum hic.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quod dicta aliquid nemo
                    repellendus distinctio minus dolor aperiam suscipit, ea enim accusantium, deleniti qui sequi sint
                    nihil modi amet eligendi, quidem animi error labore voluptatibus sed. Qui magnam labore, iusto
                    nostrum. Praesentium non, impedit accusantium consequatur officia architecto, mollitia placeat
                    aperiam tenetur pariatur voluptatibus corrupti vitae deserunt! Nostrum non mollitia deserunt ipsam.
                    Sunt quaerat natus cupiditate iure ipsa voluptatibus recusandae ratione vitae amet distinctio,
                    voluptas, minus vero expedita ea fugit similique sit cumque ad id facere? Ab quas, odio neque quis
                    ratione. Natus labore sit esse, porro placeat eum hic.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quod dicta aliquid nemo
                    repellendus distinctio minus dolor aperiam suscipit, ea enim accusantium, deleniti qui sequi sint
                    nihil modi amet eligendi, quidem animi error labore voluptatibus sed. Qui magnam labore, iusto
                    nostrum. Praesentium non, impedit accusantium consequatur officia architecto, mollitia placeat
                    aperiam tenetur pariatur voluptatibus corrupti vitae deserunt! Nostrum non mollitia deserunt ipsam.
                    Sunt quaerat natus cupiditate iure ipsa voluptatibus recusandae ratione vitae amet distinctio,
                    voluptas, minus vero expedita ea fugit similique sit cumque ad id facere? Ab quas, odio neque quis
                    ratione. Natus labore sit esse, porro placeat eum hic.
                </p>
            </div> <!-- .cd-project-info -->
        </li>
    </ul>
    <a href="#" class="cd-close">Close</a>
    <a href="#" class="cd-scroll">Scroll</a>
</div> <!-- .project-container -->
</body>
</html>
